.event planning {
    background-color: #faebd7;
    justify-content: center;
    font-family: Cardo, serif;
}

header {
    justify-content: center;
    background-color:#faebd7;
    font-family: Cardo, serif;
}

.theme event styling, .parties, . weddings, .pinics { 
    padding: 20%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}


a {
    text-decoration: none;
    display: flex;
}

babyshower img {
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width:20%;
}

.mask img {
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    
}

.wedding {
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
}

.pinic {
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
}